.tarjeta{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cardProductDetail{
    width: 450px;
    margin: 10px;
}
.product{
    margin: 10px;
}
.contador{
    margin: 20px;
    padding:20px;
}

.spinner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardImgDetail{
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
}