.shop{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: flex-end;
    color:#c9ada7;
    
}

img{
    height: 50px;
    width: 50px;
    margin-top: 10px;
}

p{
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 15px;
}