.container_nav {
    display: flex;
    justify-content: space-around;
    background-color: #0d1b2a;
}

.logo {
    padding: 1em;
    will-change: filter;
    transition: filter 300ms;
    cursor: pointer;
}

.img-logo{
    width: 100px;
    height: 100px;
    border-radius: 80%;    
}

.logo:hover {
   filter: drop-shadow(0 0 2em #FEC89A);
}

.menu{
    font-size: 25px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.items{
    margin: 30px;
    font-size: 25px;
    font-weight: 500;
    color: #c9ada7;
    text-decoration: #0d1b2a;

}

p{
    text-decoration: #0d1b2a;
}

.items:hover {
    filter: drop-shadow(0 0 10px #FEC89A);
 }