.footer-bg{
    background-color:  #0d1b2a;
    color: #c9ada7;
}


.link{
    text-decoration: none;
    color: #c9ada7;
}

.footer-img{
    margin-bottom: 10px;
    margin-left: 100px;
    width: 100px;
    height: auto;
    border-radius: 100%;    
    will-change: filter;
    transition: filter 300ms;
    cursor: pointer;
}

.footer-img:hover {
   filter: drop-shadow(0 0 2em #FEC89A);
}
