
#root {
  margin: 0;
}

.conteiner{
  background: rgb(230,210,183);
  background: linear-gradient(137deg, rgba(230,210,183,1) 35%, rgba(224,203,172,1) 100%);
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.img-index{
  width: 50%;
  height: 100%;
}

/*cards productos*/

.card-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

} 
.row{
 
  flex-direction: row;
  justify-content: space-around;
}
.card{
  margin-top: 20px;
  border-radius: 50px;
  box-shadow: 0 0 20px #00000080;
  height: 400px;
  width: 300px;

}

.card-img{
  height: 300px;
  width: 100px ;

}
