
#root {
  margin: 0;
}


.body {
  box-sizing: border-box;
  background-color: rgba(242, 233, 228, 0.808);
  margin: 0;
  padding: 0;
}

.img-index{
  width: 50%;
  height: 100%;
}

.img-error{
  height: auto;
  width: 100%;
}

.botones{
  display: flex;
  justify-content: center;
  margin: 10px;
  height: 30px;
}