
.counter{
    width: fit-content;
    margin: auto;
    padding: 1rem;
    text-align: center ;
    color: #0d1b2a;
    border: 1px solid rgba(0, 0, 0, 0.692);
    border-radius: 4px;
    
}

.btn-count{
    margin: 5px;
    color: #0d1b2a;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.692);
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    background-color: #c9ada7;
    cursor: pointer;
    transition: border-color 0.25s;
}