
.card-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
} 
.row{
  flex-direction: row;
  justify-content: space-around;
}
.productoCard{
    text-align: center;
    margin: 40px;
    box-shadow: 0 0 30px #0406478f;
    width: 350px;
  
  }
  .productoImg{
    margin-top: 20px;
    height: 300px;
    width: auto;
  }
  .cardImg{
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
  
  }
  .card-body{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .link{
    text-decoration: none;
    color: #0d1b2a;
  }